{% extends 'content/base.html' %}

{% block content %}

<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Рассылки</h5>
            <p class="card-text">Колличество рассылок:</p>
            <p>Колличество активных рассылок: </p>
            <p>Колличество уникальных клиентов для рассылок: </p>
            <a href="#" class="card-link">Детали</a>
        </div>
    </div>
</div>
<div class="col-4">
    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="card-title">svsdv</h5>
            <div class="btn-group">
                <a href="#" class="btn btn-primary active" aria-current="page">Прочитать</a>
                <a href="#" class="btn btn-primary">Отредактировать</a>
                <a href="#" class="btn btn-primary">Удалить</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}