{% extends 'content/base.html' %}

{% block content %}
{% for object in object_list %}
<div class="col">
    <div class="card shadow-sm">
        <div class="card-body">
            <p class="card-text"> {{ object.name }} </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'content:detail_content' object.pk %}">Посмотреть</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}