{% extends 'content/base.html' %}
{% block content %}
<div class="col-12">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ graph }}</li>
                    <li class="list-group-item">{{ object.name }}</li>
                    <li class="list-group-item">{{ object.description }}</li>
                    {% for category in categories %}
                        <li class="list-group-item">{{ category.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}